appdirs==1.4.0
Django==1.10.5
django-registration==2.2
django-registration-redux==1.4
oauthlib==2.0.1
packaging==16.8
PyJWT==1.4.2
pyparsing==2.1.10
python-openid==2.2.5
python-social-auth==0.2.21
requests==2.9.1
requests-oauthlib==0.7.0
six==1.10.0
social-auth-core==1.0.1
whitenoise==3.2.3
