{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_superuser %}
        <p>
            <a class = "btn btn-primary" role = "button" href="{% url 'item_new' %}">Dodaj nowy produkt</a>
        </p>
    {% endif %}
    <div class="content container">
        <div class = "row">
            {% for item in items %}
                <div class = "col-sm-6 col-md-4">
                    <div class = "thumbnail">
                        <a href="{% url 'item_detail' pk=item.pk %}">
                            <img src = "media/{% if item.image %}{{ item.image }}{% else %}no_photo.jpg{% endif %}"
                                alt = "Place for photo" width="300" height="300">
                        </a>
                    </div>

                    <div class = "caption">
                        <h2>{{ item.name }}</h2>
                        <p>Cena: {{ item.price }}</p>
                        <p>Ilość w magazynie: {{ item.stock }}</p>

                        <p>
                            <a href = "{% url 'item_detail' pk=item.pk %}" class = "btn btn-primary" role = "button"
                                {% if item.stock == 0 %}disabled{% endif %}>
                                Kup
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}