{% load staticfiles %}

<html>
    <head>
        <title>Strona o spaniu</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="{% static 'base/css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'base/css/bootstrap-social.css' %}" rel="stylesheet"/>
        <link href="{% static 'base/css/font-awesome.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'cart' %}" class="top-menu"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                {% if user.is_superuser %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
                <p class="top-menu">Witaj {{ user.username }} <small>(<a href="{% url 'auth_logout' %}?next=/" class="gray-link">Wyloguj</a>)</small></p>
            {% else %}
                <a href="{% url 'auth_login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Strona o spaniu</a> - <a href="{% url 'item_list' %}" class="dark-red">Nasz sklep</a></h1>
            {% block scripts %}
            {% endblock %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>